.all-cards-header {
    padding: 20px 20px 10px 40px;
    font-size: 18px;
}

.card {
    width: 300px;
    padding: 20px;
    text-align: center;
    margin: 10px 0 10px 0;
}

.card-in-test {
    margin: 30px 0 30px 40px;
    height: 300px;
    width: 500px;
    position: relative;
}

.card-index {
    margin-top: 7px;
}

.remove-card-button {
    margin-left: 25px;
}