.select-group {
    width: 300px;
}

.add-card-button {
    padding-top: 40px;
    padding-bottom: 40px;
}

.create-card-container {
    float: left;
}

.create-cards-textarea {
    padding-right: 40px;
    width: 500px;
}