.group-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.group-card {
    margin: 20px 0 0 20px;
    padding: 20px 20px 70px 20px;
    position: relative;
    width: 300px;
}

.group-card-actions {
    position: absolute;
    bottom: 0;
}

.group-card-button {
    margin-bottom: 20px;
}

.create-group-header {
    margin: 30px 0 0 40px;
}

.create-group-card {
    margin: 40px 0 0 40px;
    padding-top: 30px;
    width: 480px;
}

.create-group-field {
    margin: 50px 0 0 40px;
    width: 400px;
}

.save-group-button {
    margin: 40px 0 40px 40px;
}

.select-group {
    margin: 30px 0 30px 40px;
    width: 300px;
}

.add-card-button {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
}

.save-cards-button {
    margin-left: 20px;
}

.create-card-container {
    float: left;
}

.create-cards-textarea {
    width: 500px;
}