.app-bar {
    background-color: #ededed !important;
}

.app-bar-header {
    margin: 29px 0 0 5px;
}

.toolbar-buttons {
    margin: 25px 0 25px 40px;
}

.user-name {
    font-family: Times New Roman, Times, serif;
    font-size: 12px;
    margin: 39px 20px 0 0;
}

.profile-picture {
    height: 35px;
    border-radius: 50%;
    margin: 27px 5px 0 0;
}

button {
    font-family: Times New Roman, Times, serif;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 25px;
    cursor: pointer;
}

.test-card-text {
    position: absolute;
    max-width: 400px;
    top: 50%;
    left: 50%;
    margin: 0 -50% -50% 0;
    transform: translate(-50%, -50%);
    line-height: 1.6;
}

.test-page-text {
    margin: 25px 0 20px 40px;
}

.test-page-button {
    margin-left: 40px;
}