<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create cards</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/groups.css"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

    <div id="app"></div>

    <template id="form">
        <div class="create-cards-form-container">
            <v-form>
                <v-select :items="groups"
                          item-text="name"
                          label="Choose group"
                          class="select-group"></v-select>
                <v-btn class="add-card-button" v-on:click="addNewCard">Add card</v-btn>
                <new-card v-for="card in cards" :card="card" :key="card.id"/>
            </v-form>
        </div>
    </template>

    <template id="new-card">
        <v-textarea class="create-cards-textarea" name="input-7-1" label="Front">{{ card.front }}</v-textarea>
        <v-textarea class="create-cards-textarea" name="input-7-1" label="Back">{{ card.back }}</v-textarea>
    </template>

    <script src="/js/api.js"></script>
    <script src="/js/create-cards.js"></script>
</body>
</html>