<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create cards</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/groups.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cards.css"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="https://unpkg.com/vue-select@latest"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">

    <script th:inline="javascript">
        let existingCards = [[${existingCards}]];
        let groupId = [[${groupId}]];
    </script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

    <div id="app">
        <div>
            <v-app-bar class="app-bar" dense prominent>
                <h1 class="app-bar-header">Flashcards</h1>
                <div class="toolbar-buttons">
                    <v-btn text href="/">Groups</v-btn>
                    <v-btn text href="/quick-test">Quick test</v-btn>
                    <v-btn text href="/create-group">Create group</v-btn>
                    <v-btn text href="/create-cards">Create cards</v-btn>
                </div>
                <v-spacer></v-spacer>
                <p class="user-name">{{ userName.toUpperCase() }}</p>
                <img class="profile-picture" :src="userImgUrl"/>
            </v-app-bar>
            <v-select :options="groups"
                      label="name"
                      v-model="selected"
                      class="select-group"
                      :clearable="false"
                      v-if="chooseGroups"></v-select>
            <v-btn text class="add-card-button" v-on:click="addNewCard">Add card</v-btn>
            <v-btn text class="save-cards-button" v-on:click="saveCards()">Save cards</v-btn>
            <new-card v-for="card in cards" :card="card" :key="card.id"/>
        </div>
    </div>

    <template id="new-card">
        <div>
            <v-container class="grey lighten-5 create-card-container">
                <v-row no-gutters>
                    <v-col>
                        <p class="card-index">{{ card.index }}.</p>
                    </v-col>
                    <v-col>
                        <v-textarea id="front-textarea"
                                    class="create-cards-textarea"
                                    name="input-7-1"
                                    label="Front"
                                    v-model="card.front"></v-textarea>
                    </v-col>
                    <v-col>
                        <v-textarea id="back-textarea"
                                    class="create-cards-textarea"
                                    name="input-7-1"
                                    label="Back"
                                    v-model="card.back"></v-textarea>
                    </v-col>
                    <v-col>
                        <v-btn text v-on:click="removeCard(card.index, card.id)" class="remove-card-button">Remove</v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </div>
    </template>

    <script src="/js/api.js"></script>
    <script src="/js/create-cards.js"></script>
</body>
</html>