<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>All cards</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

    <h1>Groups</h1>
    <div id="app"></div>

    <script src="/js/api.js"></script>
    <script src="/js/groups.js"></script>
</body>
</html>