<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Studying app</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

  <a href="/all-cards"><h3>Cards</h3></a>
  <a href="/groups"><h3>Groups</h3></a>
  <a href="/create-cards"><h3>Create cards</h3></a>
</body>
</html>