<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cards.css"/>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">

    <script th:inline="javascript">
        let cards = [[${cards}]];
    </script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

    <div id="app">
        <div>
            <v-app-bar class="app-bar" dense prominent>
                <h1 class="app-bar-header">Flashcards</h1>
                <div class="toolbar-buttons">
                    <v-btn text href="/">Groups</v-btn>
                    <v-btn text href="/quick-test">Quick test</v-btn>
                    <v-btn text href="/create-group">Create group</v-btn>
                    <v-btn text href="/create-cards">Create cards</v-btn>
                </div>
                <v-spacer></v-spacer>
                <p class="user-name">{{ userName.toUpperCase() }}</p>
                <img class="profile-picture" :src="userImgUrl"/>
            </v-app-bar>
            <v-card class="card-in-test" v-show="front">
                <p class="test-card-text">{{ currentCard.front }}</p>
            </v-card>
            <v-card class="card-in-test" v-show="back">
                <p class="test-card-text">{{ currentCard.back }}</p>
            </v-card>
            <v-btn text class="test-page-button" v-on:click="check" v-show="checkButton">Check</v-btn>
            <p class="test-page-text" v-show="nextButton">Did you answer correctly?</p>
            <v-btn text class="test-page-button" v-on:click="correct(currentCard.id)" v-show="nextButton">Yes</v-btn>
            <v-btn text class="test-page-button" v-on:click="wrong(currentCard.id)" v-show="nextButton">No</v-btn>
            <v-btn text class="test-page-button" href="/" v-show="completeButton">Complete</v-btn>
        </div>
    </div>

    <script src="/js/api.js"></script>
    <script src="/js/test.js"></script>
</body>
</html>